.payment_ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px;

  @media (max-width: 270px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
