.BackgroundGradient {
  background-image: radial-gradient(
    ellipse 200vw 65% at 50% 0%,
    #deb88f 0%,
    #f16001 40%,
    #c10801 70%,
    rgba(#000000, 0) 100%
  );

  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 100% 95%;
}
